


<div class="col-md-12 row" >

<h1 class="text-center">Drop Chart</h1>
<hr>
<div class="col-md-8">
   
    <%= render 'drops', :drops => @drops %>

</div>
<div class="col-md-4">

<div class="panel panel-default">
  <div class="panel-heading">Top Tags</div>
  <div class="panel-body">
      <% @tags.each do |tag| %>
        <label class="label label-default"><%= link_to tag, tag_path(tag.name), class: "white" %></label>
      <% end %>
  </div>
</div>

<div class="text-center hidden">

  <%= image_tag ("http://placehold.it/300x250")%>
</div>


</div>
</div>
